*{
	margin: 0;
	padding: 0;
}
#tete{
	background-color: #E53A51;
}
#menu li a {
	display: block;
	width: 140px;
	color: #BACED1;
	text-decoration: none;
	padding: 5px;
}
#menu {
	margin-left: 300px;
	margin-top: 5PX;
}
#menu ul{
	margin:0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#menu li {
	float: left;
	margin: auto;
	padding: 10px;
	background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%); 
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6); 
     text-decoration: none;
} 
#menu li a:hover{
	color:#D1146C;
}
#menu ul li ul{
	display:none;
}
#menu ul li:hover ul{
	display: block;
}
#menu li:hover ul li {
	float: none;
}
#menu li ul {
	position: absolute;
}
#menu {
	height: 50px;
}
#menu li ul li a {
color: black;
}
h1{
	color: white;
	font-family:times new roman, times, serif;
}
#logo{
	width: 7%;
	margin-left: 100px;
	margin-top: 10px;
}
#icone{
	float:right;
	margin-top: 0px;
	padding-top: 0px;
	margin-right:10px;
	list-style-type: none;
	
}
#facebook{
	
	
	float: left;
	margin-right: 5px;
	

	
  }
#Instagram{
	
	float: left;
	
}
#icone ul {
	list-style-type: none;
}
#icone img {
	width: 60px;
	height: 60px;
}

body{
	background-image: url(/var/www/html/restaurant/image/Restaurant-1.jpg);
}